@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("./clean_style.css");
.body {
    background-color: #edf1d6;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    color: #40513b;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    border-bottom: 1px dotted;
}

.header__help-button span {
    color: #40513b;
    font-size: 48px;
    background-color: #edf1d6;
}
.header__help-button {
    background-color: #edf1d6;
}

.header {
    font-size: large;
    display: flex;
    font-size: larger;
    align-items: center;
}
.header__title {
    flex: 1 1 auto;
    text-align: center;
    height: 100%;
}
.title {
    padding: 0.3%;
}

.image {
    width: 3em;
}
.title__name h1 {
    font-weight: 600;
}
.title__student {
    padding-top: 0.7%;
}
.title__student span {
    cursor: pointer;
    border-bottom: 1px dotted;
}
.title__student .tooltip {
    visibility: hidden;
    padding: 0.4em 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 1.2em;
    left: 85%;
}

.title__student:has(span:hover) .tooltip {
    visibility: visible;
}

[class$="--bordered"] {
    border: 1px solid #9dc08b;
    border-radius: 5px;
    margin: 0.5%;
    padding: 0.5%;
}
.nav {
    display: flex;
}
.nav--row {
    justify-content: center;
    flex-wrap: wrap;
}
.nav--coll {
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
}
.nav-item {
    background-color: #edf1d6;

    border: 1px solid #9dc08b;
    border-radius: 5px;
    margin: 0.5em 0.3em;
    flex: 1 1 auto;
}
.nav-item:hover {
    background-color: #9dc08b;
}

.nav-item.active {
    background-color: #9dc08b;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 70%;
}
.aside-left {
    padding: 1em;
}
.main-content {
    flex: 1 1 60%;
    height: 92%;
    overflow-y: auto;
    padding: 1em 2em;
    text-align: center;
}
.button {
    background-color: inherit;
    border-radius: 5px;
    padding: 0.3em;
    font-size: medium;
    color: inherit;
    height: 100%;
    width: 100%;
}
